.menu {
  border: 5px solid red;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  background-color: black;
  color: white;
}

.navigation__hamburger {
  -webkit-transform: scale(.6);
  transform: scale(.6);
  display: inline-block;
  position: absolute;
  margin-left: 8px;
  cursor: pointer
}

.navigation__line {
  display: block;
  width: 40px;
  height: 10px;
  margin: 6px 0;
  transition: .3s ease-in-out;
  background-color: #c00
}